{% extends '../base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="container">
  <div class="px-4 py-5 my-5 text-center">
      <div class="text-danger">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-postage-heart-fill" viewBox="0 0 16 16">
              <path d="M4.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zM8 11C2.175 7.236 6.336 4.31 8 5.982 9.664 4.309 13.825 7.236 8 11"/>
              <path d="M4.5 0a1 1 0 0 1-2 0H1v1a1 1 0 0 1 0 2v1a1 1 0 0 1 0 2v1a1 1 0 0 1 0 2v1a1 1 0 1 1 0 2v1a1 1 0 1 1 0 2v1h1.5a1 1 0 1 1 2 0h1a1 1 0 1 1 2 0h1a1 1 0 1 1 2 0h1a1 1 0 1 1 2 0H15v-1a1 1 0 1 1 0-2v-1a1 1 0 1 1 0-2V9a1 1 0 1 1 0-2V6a1 1 0 1 1 0-2V3a1 1 0 1 1 0-2V0h-1.5a1 1 0 1 1-2 0h-1a1 1 0 1 1-2 0h-1a1 1 0 0 1-2 0zM4 14a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1z"/>
            </svg>
      </div>
      <h1 class="display-5 fw-bold text-danger">Watch Greta Gerwig's movies</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Greta Celeste Gerwig (/ˈɡɜːrwɪɡ/ GUR-wig; born August 4, 1983) is an American actress, writer, and director. Initially known for working on mumblecore films, she has since expanded from acting in and co-writing independent films to directing major studio films.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          {% if not user.is_authenticated %}
          <a href="#" class="btn btn-danger btn-lg px-4 gap-3">Sign up</a>
          <a href="#" class="btn btn-outline-danger btn-lg px-4">Login</a>
          {% else %}
          <a href="#" class="btn btn-outline-danger btn-lg px-4">Watch</a>
          {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock %}